src/main/resources/xsd/PS_RN_SvtConstitucionService.xsd

<xsd:schema xmlns:ns0="http://Constitucion.gobiernodigital/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Constitucion.gobiernodigital/">
<xsd:complexType name="IngresaDocumento">
<xsd:sequence>
<xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="IngresaDocumentoResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="IngresarDocumentoDefectuoso">
<xsd:sequence>
<xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
<xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
<xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
<xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="IngresarDocumentoDefectuosoResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="IngresarDocumentoDefectuosoResponse" type="ns0:IngresarDocumentoDefectuosoResponse"/>
<xsd:element name="IngresaDocumento" type="ns0:IngresaDocumento"/>
<xsd:element name="IngresarDocumentoDefectuoso" type="ns0:IngresarDocumentoDefectuoso"/>
<xsd:element name="IngresaDocumentoResponse" type="ns0:IngresaDocumentoResponse"/>
</xsd:schema>